# {{ ansible_managed }}
# Sobrescreve /etc/ssh/sshd_config via drop-in.
PermitRootLogin {{ server_base_ssh_permit_root_login }}
PasswordAuthentication {{ server_base_ssh_password_authentication }}
KbdInteractiveAuthentication {{ server_base_ssh_password_authentication }}
PubkeyAuthentication yes
MaxAuthTries {{ server_base_ssh_max_auth_tries }}
ClientAliveInterval {{ server_base_ssh_client_alive_interval }}
ClientAliveCountMax 2
X11Forwarding {{ server_base_ssh_x11_forwarding }}
